
.board-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.chess-board {
    width: 100%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border: 2px solid #333;
}

.chess-board.column-reverse {
    flex-direction: column-reverse;
}

.board-row {
    display: flex;
    height: 12.5%;
}

.board-row.row-reverse {
    flex-direction: row-reverse;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.square {
    width: 12.5%;
    height: 100%;
    position: relative; 
    display: flex;      
    justify-content: center;
    align-items: center;
}

.square-content {
    width: 100%;
    height: 100%;
}

.with-piece {
    cursor: pointer;
}

.column-id, .row-id {
    position: absolute;  
    font-size: 1em;   
    opacity: 0.7;       
}

.column-id {
    bottom: 2px;
    right:5px;
}

.row-id {
    top: 5px;
    left: 2px; 
}

.highlight::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    pointer-events: none;
}

.board-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}
  
.rank-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rank-labels.column-reverse {
    flex-direction: column-reverse;
}
  
.file-labels {
    display: flex;
    justify-content: space-around;
    grid-column: 2;
}

.file-labels.row-reverse {
    flex-direction: row-reverse;
}
  
.chessboard {
    grid-column: 2;
}